.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 241, 241);
}

.logo {
    height: 75px;
    width: 75px;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

}